{include file="page/header" /}
<style>
    iframe body {
        display: block;
        margin: 0px;
    }
    #iframeLeft{
        width: 20%;
        height: 300px;
        float: left;
    }
    #iframeContent{
        width: 80%;
        height: 300px;
    }

</style>
<header class="demos-header" style="margin: 15px 0 15px 0;">
    <h1 class="demos-title"><a href="{$index_url}">蜻蜓好站</a></h1>
</header>

<div class="weui-search-bar" id="searchBar">
    <form class="weui-search-bar__form" action="{:url('/app/search')}" >
        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" name="keyword" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
        </div>
        <label class="weui-search-bar__label" id="searchText">
            <i class="weui-icon-search"></i>
            <span>搜索</span>
        </label>
    </form>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
</div>
<div>
    <iframe id="iframeLeft" name="iframeLeft" frameborder="0" src="{:url('/app/category_left', ['id'=>$id])}" border="0" ></iframe>
    <iframe id="iframeContent" name="iframeContent" frameborder="0" src="{:url('/app/category_right', ['id'=>$right_id])}"  border="0" ></iframe>
</div>

<br><br><br>
<div class="weui-footer">
    <p class="weui-footer__text">Copyright © 2018 蜻蜓好站 www.qingting360.com <br>站长邮箱: qingting360@163.com<br>京ICP备09036132号 </p>
</div>

{include file="page/footer" /}
