{include file="page/header" /}
<style>
    iframe body {
        display: block;
        margin: 0px;
    }
    #iframeLeft{
        width: 20%;
        height: 300px;
        float: left;
    }
    #iframeContent{
        width: 80%;
        height: 300px;
    }

</style>
<br>
<header class="demos-header">
    <h1 class="demos-title"><a href="{$index_url}">Panel</a></h1>
</header>
<br>

<div class="weui-search-bar" id="searchBar">
    <form class="weui-search-bar__form">
        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
        </div>
        <label class="weui-search-bar__label" id="searchText">
            <i class="weui-icon-search"></i>
            <span>搜索</span>
        </label>
    </form>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
</div>
<div>
    <iframe id="iframeLeft" name="iframeLeft" frameborder="0" src="{:url('/app/category_left')}" border="0" ></iframe>
    <iframe id="iframeContent" name="iframeContent" frameborder="0" src="{:url('/app/category_right')}"  border="0" ></iframe>
</div>

<br><br>
<div class="weui-footer">
    <p class="weui-footer__text">Copyright © 2018 qingting</p>
</div>

{include file="page/footer" /}
