{include file="page/header" /}
<br><br>
<header class="demos-header">
    <h1 class="demos-title">Panel</h1>
</header>
<br><br>
<div class="weui-search-bar" id="searchBar">
    <form class="weui-search-bar__form">
        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
        </div>
        <label class="weui-search-bar__label" id="searchText">
            <i class="weui-icon-search"></i>
            <span>搜索</span>
        </label>
    </form>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
</div>
<div class="weui-grids">
    <a href="{:url('/app/category', ['id'=>14])}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="images/icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
           Button1
        </p>
    </a>
    <a href="{:url('/app/category')}" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
            List
        </p>
    </a>
    <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
            List
        </p>
    </a>
    <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
            List
        </p>
    </a>
    <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
            List
        </p>
    </a>
    <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
            List
        </p>
    </a>
    <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
            List
        </p>
    </a>
    <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
            List
        </p>
    </a>
    <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
            <img src="images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
            List
        </p>
    </a>
</div>
<br><br>
<div class="weui-footer">
    <p class="weui-footer__text">Copyright © 2018 qingting</p>
</div>
{include file="page/footer" /}
