{include file="page/header" /}
<div class="top">
  <div class="top_wrapper">
    <div class="logo">
      <img src="{$Think.BASE_PATH}image/logo.png">
    </div>
    <div class="top_menu_wrapper">
      <ul>
        <li class="top_menu active"><a href="#">首页</a></li>
        <li class="top_menu"><a href="#">青山绿水</a></li>
        <li class="top_menu"><a href="#">自种美食</a></li>
        <li class="top_menu"><a href="#">健康养生</a></li>
        <li class="top_menu"><a href="#">清新氧吧</a></li>
        <li class="top_menu"><a href="#">名胜古迹</a></li>
        <li class="top_menu"><a href="#">地方特色</a></li>
        <li class="top_menu"><a href="#">异国风情</a></li>
      </ul>
    </div>
  </div>
</div>
<div style="clear: both;"></div>
<div class="body">
    <div class="body-left">
      <div class="bd">
        <dl>
          <dt>
            <a class="" href="#">风景优美</a>
          </dt>
          <dd>
            <a class="" href="#">云蒙山</a>
            <a class="" href="#">雁西湖</a>
            <a class="" href="#" >十度</a>
            <a class="" href="#" >龙门峡</a>
            <a class="" href="#" >黄果树</a>
            <a class="" href="#" >华山</a>
            <a class="" href="#" >密云水库</a>
            <a class="" href="#" >小汤山</a>
            <a class="" href="#" >香山</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a class="" href="#" >农家自种</a>
          </dt>
          <dd>
            <a class="" href="#" >老玉米</a>
            <a class="" href="#" >菠菜</a>
            <a class="" href="#" >高粱</a>
            <a class="" href="#" >小白菜</a>
            <a class="" href="#" >土豆</a>
            <a class="" href="#" >黄瓜</a>
            <a class="" href="#" >苹果</a>
            <a class="" href="#" >丝瓜</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a class="" target="_blank">新鲜鱼</a>
          </dt>
          <dd>
            <a class="" target="_blank">大鲤鱼</a>
            <a class="" target="_blank">水库鱼</a>
            <a class="" target="_blank">虹鳟鱼</a>
            <a class="" target="_blank">黄花鱼</a>
            <a class="" target="_blank">梭边鱼</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a class="" href="#" target="_blank">瓜果梨桃</a>
          </dt>
          <dd>
            <a class="" href="#" target="_blank">苹果</a>
            <a class="" href="#" target="_blank">葡萄</a>
            <a class="" href="#" target="_blank">西红柿</a>
            <a class="" href="#" target="_blank">梨</a>
            <a class="" href="#" target="_blank">樱桃</a>
            <a class="" href="#" target="_blank">石榴</a>
          </dd>
        </dl>
        <dl>
          <dt>
            江河湖海
          </dt>
          <dd>
            <a class=""  href="#" >密云水库</a>
            <a class=""  href="#" >雁西湖</a>
            <a class=""  href="#" >官厅水库</a>
            <a class=""  href="#" >北戴河</a>
            <a class=""  href="#" >鄱阳湖</a>
            <a class=""  href="#" >海口</a>
            <a class=""  href="#" >黄果树瀑布</a>
          </dd>
        </dl>
        <dl>
          <dt>
            赏花
          </dt>
          <dd>
            <a class="" href="#" target="_blank">桃花</a>
            <a class="" href="#" target="_blank">红叶</a>
            <a class="" href="#" target="_blank">梨花</a>
            <a class="" href="#" target="_blank">牡丹/菊花</a>
            <a class="" href="#" target="_blank">银杏</a>
          </dd>
        </dl>
        <dl>
          <dt>
            氧吧
          </dt>
          <dd>
            <a class="" href="#" target="_blank">野鸭湖湿地</a>
            <a class="" href="#" target="_blank">红螺寺</a>
            <a class="" href="#" target="_blank">野三坡</a>
            <a class="" href="#" target="_blank">坝上草原</a>
            <a class="" href="#" target="_blank">避暑山庄</a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="body-center">
      <div class="breadcrumb">
        <a href="#">首页</a> <span>》</span> <a href="#">风景</a> <span>》</span> 湖水
      </div>
      <!--<span class="layui-breadcrumb">-->
        <!--<a href="/">首页</a>-->
        <!--<a href="/demo/">风景</a>-->
        <!--<a><cite>湖水风光</cite></a>-->
      <!--</span>-->
      {for start="1" end="10"}
        <!-- 行 -->
        <div class="line_wrapper">
          <div class="line_picture">
            <img src="{$Think.BASE_PATH}image/tmp/list_1.jpg" width="180px" height="120px">
          </div>
          <div class="line_content">
              <div class="line_content_title"><a href="#">普吉岛｜这些拥有私密沙滩的酒店让你再也不人挤人！</a></div>
              <div class="line_content_body">蜂蜂们的困扰我们都听到了！为你看过了千百个普吉酒店，精挑细选了9家可享私密沙滩的五星酒店，分分钟甩开拥挤人潮、冲入碧海蓝天，让人恨不得现在就想把机票买下去啊。</div>
              <div class="line_content_bottom">1216浏览</div>
          </div>
        </div>
        <!-- 行 -->
      {/for}

      <div id="page"></div>
    </div>

    <div class="body-right">
      <div class="body_right_block"><img src="{$Think.BASE_PATH}image/tmp/right_1.png" width="200px" height="auto"></div>
      <div class="body_right_block"><img src="{$Think.BASE_PATH}image/tmp/right_2.png" width="200px" height="auto"></div>
      <div class="body_right_block"><img src="{$Think.BASE_PATH}image/tmp/right_3.png" width="200px" height="auto"></div>
    </div>

  <div style="clear: both"></div>
</div>


<script>
    layui.use(['element', 'laypage'], function(){
        var $ = layui.$;
        var laypage = layui.laypage;

        $('.line_wrapper').mouseover(function(){
            $(this).css('background-color','#e5e5e5');
        })
        $('.line_wrapper').mouseout(function(){
            $(this).css('background-color','#ffffff');
        })

        laypage.render({
            elem: 'page'
            ,count: 1000
            ,theme: '#1E9FFF'
            ,layout: ['count', 'prev', 'page', 'next', 'skip']
        });
    });
</script>
{include file="page/footer" /}
