{include file="page/header" /}
<div class="top">
  <div class="top_wrapper">
    <div class="logo">
      <img src="{$Think.BASE_PATH}image/logo.png">
    </div>
    <div class="top_menu_wrapper">
      <ul>
        <li class="top_menu active"><a href="#">首页</a></li>
        <li class="top_menu"><a href="#">青山绿水</a></li>
        <li class="top_menu"><a href="#">自种美食</a></li>
        <li class="top_menu"><a href="#">健康养生</a></li>
        <li class="top_menu"><a href="#">清新氧吧</a></li>
        <li class="top_menu"><a href="#">名胜古迹</a></li>
        <li class="top_menu"><a href="#">地方特色</a></li>
        <li class="top_menu"><a href="#">异国风情</a></li>
      </ul>
    </div>
  </div>
</div>
<div style="clear: both;"></div>
<div class="body">
    <div class="body-left">
      <div class="bd">
        <dl>
          <dt>
            <a class="" href="#">风景优美</a>
          </dt>
          <dd>
            <a class="" href="#">云蒙山</a>
            <a class="" href="#">雁西湖</a>
            <a class="" href="#" >十度</a>
            <a class="" href="#" >龙门峡</a>
            <a class="" href="#" >黄果树</a>
            <a class="" href="#" >华山</a>
            <a class="" href="#" >密云水库</a>
            <a class="" href="#" >小汤山</a>
            <a class="" href="#" >香山</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a class="" href="#" >农家自种</a>
          </dt>
          <dd>
            <a class="" href="#" >老玉米</a>
            <a class="" href="#" >菠菜</a>
            <a class="" href="#" >高粱</a>
            <a class="" href="#" >小白菜</a>
            <a class="" href="#" >土豆</a>
            <a class="" href="#" >黄瓜</a>
            <a class="" href="#" >苹果</a>
            <a class="" href="#" >丝瓜</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a class="" target="_blank">新鲜鱼</a>
          </dt>
          <dd>
            <a class="" target="_blank">大鲤鱼</a>
            <a class="" target="_blank">水库鱼</a>
            <a class="" target="_blank">虹鳟鱼</a>
            <a class="" target="_blank">黄花鱼</a>
            <a class="" target="_blank">梭边鱼</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a class="" href="#" target="_blank">瓜果梨桃</a>
          </dt>
          <dd>
            <a class="" href="#" target="_blank">苹果</a>
            <a class="" href="#" target="_blank">葡萄</a>
            <a class="" href="#" target="_blank">西红柿</a>
            <a class="" href="#" target="_blank">梨</a>
            <a class="" href="#" target="_blank">樱桃</a>
            <a class="" href="#" target="_blank">石榴</a>
          </dd>
        </dl>
        <dl>
          <dt>
            江河湖海
          </dt>
          <dd>
            <a class=""  href="#" >密云水库</a>
            <a class=""  href="#" >雁西湖</a>
            <a class=""  href="#" >官厅水库</a>
            <a class=""  href="#" >北戴河</a>
            <a class=""  href="#" >鄱阳湖</a>
            <a class=""  href="#" >海口</a>
            <a class=""  href="#" >黄果树瀑布</a>
          </dd>
        </dl>
        <dl>
          <dt>
            赏花
          </dt>
          <dd>
            <a class="" href="#" target="_blank">桃花</a>
            <a class="" href="#" target="_blank">红叶</a>
            <a class="" href="#" target="_blank">梨花</a>
            <a class="" href="#" target="_blank">牡丹/菊花</a>
            <a class="" href="#" target="_blank">银杏</a>
          </dd>
        </dl>
        <dl>
          <dt>
            氧吧
          </dt>
          <dd>
            <a class="" href="#" target="_blank">野鸭湖湿地</a>
            <a class="" href="#" target="_blank">红螺寺</a>
            <a class="" href="#" target="_blank">野三坡</a>
            <a class="" href="#" target="_blank">坝上草原</a>
            <a class="" href="#" target="_blank">避暑山庄</a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="body-content">

      <!-- 一行 -->
      <div>
        <div class="tab-inners">
          <div class="tab-inner active">
            <div class="card-item active"><a href="https://news.ke.com/bj/baike/0044/" target="_blank" class="btn-more">更多</a>
              <div class="card-hd">
                <div class="index index-01"></div>
                <div class="tit">准备买房</div>
                <div class="subtit">有购房资质了吗，资金准备好了吗？开始寻找房源吧</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 一行 -->

    </div>
</div>


<script>
    layui.use('element', function(){
        var $ = layui.$;
        $('.top_menu').mouseover(function(){
            $('.top_menu').removeClass('active');
            $(this).addClass('active');
        })
    });
</script>
{include file="page/footer" /}
