{include file="page/header" /}
<div class="top">
  <div class="top_wrapper">
    <div class="logo">
      <img src="{$Think.BASE_PATH}image/logo.png">
    </div>
    <div class="top_menu_wrapper">
      <ul>
        <li class="top_menu active"><a href="#">首页</a></li>
        <li class="top_menu"><a href="#">青山绿水</a></li>
        <li class="top_menu"><a href="#">自种美食</a></li>
        <li class="top_menu"><a href="#">健康养生</a></li>
        <li class="top_menu"><a href="#">名胜古迹</a></li>
        <li class="top_menu"><a href="#">地域风情</a></li>
        <li class="top_menu"><a href="#">清新氧吧</a></li>
      </ul>
    </div>
  </div>
</div>
<div style="clear: both;"></div>
<div class="body">
    <div class="body-left">
      <div class="bd">
        <dl>
          <dt>
            <a class="" href="#">风景优美</a>
          </dt>
          <dd>
            <a class="" href="#">云蒙山</a>
            <a class="" href="#">雁西湖</a>
            <a class="" href="#" >十度</a>
            <a class="" href="#" >龙门峡</a>
            <a class="" href="#" >黄果树</a>
            <a class="" href="#" >华山</a>
            <a class="" href="#" >密云水库</a>
            <a class="" href="#" >小汤山</a>
            <a class="" href="#" >香山</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a class="" href="#" >农家自种</a>
          </dt>
          <dd>
            <a class="" href="#" >老玉米</a>
            <a class="" href="#" >菠菜</a>
            <a class="" href="#" >高粱</a>
            <a class="" href="#" >小白菜</a>
            <a class="" href="#" >土豆</a>
            <a class="" href="#" >黄瓜</a>
            <a class="" href="#" >苹果</a>
            <a class="" href="#" >丝瓜</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a class="" target="_blank">新鲜鱼</a>
          </dt>
          <dd>
            <a class="" target="_blank">大鲤鱼</a>
            <a class="" target="_blank">水库鱼</a>
            <a class="" target="_blank">虹鳟鱼</a>
            <a class="" target="_blank">黄花鱼</a>
            <a class="" target="_blank">梭边鱼</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a class="" href="#" target="_blank">瓜果梨桃</a>
          </dt>
          <dd>
            <a class="" href="#" target="_blank">苹果</a>
            <a class="" href="#" target="_blank">葡萄</a>
            <a class="" href="#" target="_blank">西红柿</a>
            <a class="" href="#" target="_blank">梨</a>
            <a class="" href="#" target="_blank">樱桃</a>
            <a class="" href="#" target="_blank">石榴</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a class="" data-log_id="10001" data-bl="classify" data-el="卖房" href="#" target="_blank">卖房</a>
          </dt>
          <dd>
            <a class="" data-log_id="10001" data-bl="classify" data-el="准备卖房" href="#" target="_blank">准备卖房</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="产权核验" href="#" target="_blank">产权核验</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="收定金/签约" href="#" target="_blank">收定金/签约</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="分步收款" href="#" target="_blank">分步收款</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="缴税/过户" href="#" target="_blank">缴税/过户</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="交房须知" href="#" target="_blank">交房须知</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="卖房风险" href="#" target="_blank">卖房风险</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a class="" data-log_id="10001" data-bl="classify" data-el="换房" href="#" target="_blank">换房</a>
          </dt>
          <dd>
            <a class="" data-log_id="10001" data-bl="classify" data-el="准备换房" href="#" target="_blank">准备换房</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="换房方案" href="#" target="_blank">换房方案</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="缴税/过户" href="#" target="_blank">缴税/过户</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="交房/收房" href="#" target="_blank">交房/收房</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="换房风险" href="#" target="_blank">换房风险</a>
          </dd>
        </dl>
        <dl>
          <dt>
            <a class="" data-log_id="10001" data-bl="classify" data-el="租房" href="#" target="_blank">租房</a>
          </dt>
          <dd>
            <a class="" data-log_id="10001" data-bl="classify" data-el="找房看房" href="#" target="_blank">找房看房</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="签约付款" href="#" target="_blank">签约付款</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="物业交割" href="#" target="_blank">物业交割</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="租房纠纷" href="#" target="_blank">租房纠纷</a>
            <a class="" data-log_id="10001" data-bl="classify" data-el="我是房东" href="#" target="_blank">我是房东</a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="body-content">

      <!-- 本月推荐开始 -->
      <fieldset class="layui-elem-field layui-field-title site-title">
        <legend><a name="grid">本月推荐</a></legend>
      </fieldset>
      <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                结合 layui 的栅格系统<br>
                轻松实现响应式布局
              </div>
            </div>
          </div>

          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                结合 layui 的栅格系统<br>
                轻松实现响应式布局
              </div>
            </div>
          </div>

          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                结合 layui 的栅格系统<br>
                轻松实现响应式布局
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 本月推荐结束 -->

      <br><br>
      <!-- 清新氧吧开始 -->
      <fieldset class="layui-elem-field layui-field-title site-title">
        <legend><a name="grid">清新氧吧</a></legend>
      </fieldset>
      <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                结合 layui 的栅格系统<br>
                轻松实现响应式布局
              </div>
            </div>
          </div>

          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                结合 layui 的栅格系统<br>
                轻松实现响应式布局
              </div>
            </div>
          </div>

          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                结合 layui 的栅格系统<br>
                轻松实现响应式布局
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 清新氧吧结束 -->

      <br><br>
      <!-- 自种美食开始 -->
      <fieldset class="layui-elem-field layui-field-title site-title">
        <legend><a name="grid">自种美食</a></legend>
      </fieldset>
      <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                结合 layui 的栅格系统<br>
                轻松实现响应式布局
              </div>
            </div>
          </div>

          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                结合 layui 的栅格系统<br>
                轻松实现响应式布局
              </div>
            </div>
          </div>

          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">卡片面板</div>
              <div class="layui-card-body">
                结合 layui 的栅格系统<br>
                轻松实现响应式布局
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 自种美食结束 -->

    </div>
</div>


<script>
    layui.use('element', function(){
        var $ = layui.$;
        $('.top_menu').mouseover(function(){
            $('.top_menu').removeClass('active');
            $(this).addClass('active');
        })
    });
</script>
{include file="page/footer" /}
