{include file="page/header" /}
{include file="page/body_top" /}
<div style="clear: both;"></div>
<div class="body">
    <div class="body-left">
      {include file="page/menu_index" /}
    </div>
    <div class="body-content">

      <!-- 热门站点开始 -->
      <div class="part_1_wrapper">
        <div class="part_1_title">
          <h2>热门站点</h2>
        </div>
        <div class="part_1_content">
          <ul>
              {volist name='site_popular' id='v'}
                <li>
                    <img src="{$v.view_url}"> <a href="{$v.url}" target="_blank">{$v.title}</a>
                </li>
              {/volist}
          </ul>
        </div>
      </div>
      <!-- 热门站点结束 -->

      <!-- 广告2开始 -->
      <div class="part_wrapper" style="width: 98%; margin: 10px 0 10px 0;">
          <img src="{$Think.BASE_PATH}image/tmp/ad.jpg" width="280px">&nbsp;&nbsp;&nbsp;
          <img src="{$Think.BASE_PATH}image/tmp/ad.jpg" width="280px">&nbsp;&nbsp;&nbsp;
          <img src="{$Think.BASE_PATH}image/tmp/ad.jpg" width="280px">
      </div>
      <!-- 广告2结束 -->

      <!-- 最新加入开始 -->
      <div class="part_wrapper" style="width: 420px;">
        <div class="part_title_wrapper">
          <span class="part_title">最新加入</span>
          <span class="more"><a href="#">更多</a></span>
        </div>
        <div class="part_content" >
          <ul>
              {volist name='site_news' id='v'}
              <li>
                  <div style="height: 20px;line-height: 20px;"><a href="{$v.url}" target="_blank">{$v.title}</a></div>
                  <div style="font-size: 12px;color:#ccc; height: 25px;line-height: 25px;">{$v.brief}</div>
              </li>
              {/volist}
          </ul>
        </div>
      </div>
      <!-- 最新加入结束 -->

      <!-- 精彩推荐开始 -->
      <div class="part_wrapper" style="width: 420px; margin-left:20px;">
        <div class="part_title_wrapper">
          <span class="part_title">精彩推荐</span>
          <span class="more"><a href="#">更多</a></span>
        </div>
        <div class="part_content" >
          <ul>
              {volist name='site_recommend' id='v'}
              <li>
                  <!--<img src="{$v.view_url}"> {$v.title}-->
                  <div style="height: 20px;line-height: 20px;"><a href="{$v.url}" target="_blank">{$v.title}</a></div>
                  <div style="font-size: 12px;color:#ccc; height: 25px;line-height: 25px;padding:0 2px 0 2px;">{$v.brief}</div>
              </li>
              {/volist}
          </ul>
        </div>
      </div>
      <!-- 精彩推荐结束 -->

    </div>
</div>


<script>
    layui.use('element', function(){
        var $ = layui.$;
        $('.top_menu').mouseover(function(){
            $('.top_menu').removeClass('active');
            $(this).addClass('active');
        })
    });
</script>
{include file="page/footer" /}
