{include file="page/header" /}
{include file="page/body_top" /}
<div style="clear: both;"></div>
<div class="body">
    <div class="body-left">
      {include file="page/menu_index" /}
    </div>
    <div class="body-content">

      <!-- 最新推荐开始 -->
      <div class="part_1_wrapper">
        <div class="part_1_title">
          <h2>最新推荐</h2>
        </div>
        <div class="part_1_content">
          <ul>
            <li><a href="http://news.87870.com/1811/34714.html" target="_blank" title="限时活动！Viveport新用户现可免费获得《辐射4 VR（2017）》"><img src="http://pic.87870.com/upload/images/vr87870/2018/11/9/th_327x204_49c8af7c-2f5e-4c14-b406-4cdbd51b6a97.png"><span class="tit-wrap"><span class="tit">限时活动！Viveport新用户现可免费获得《辐射4 VR（2017）》</span></span></a></li>
            <li><a href="http://news.87870.com/1811/34699.html" target="_blank" title="数字王国旗下VR平台数字王国空间完成Pre-A轮融资"><img src="http://pic.87870.com/upload/images/vr87870/2018/11/8/th_327x204_d5b67e11-c799-499d-b8b5-99b1e297aca5.jpg"><span class="tit-wrap"><span class="tit">数字王国旗下VR平台数字王国空间完成Pre-A轮融资</span></span></a></li>
            <li><a href="http://news.87870.com/1811/34697.html" target="_blank" title="SDC2018：三星发布可折叠屏幕，AR仍是关注重点"><img src="http://pic.87870.com/upload/images/vr87870/2018/11/8/th_327x204_90c0dfe7-438b-42a5-9ca0-aaa05d51c76d.jpg"><span class="tit-wrap"><span class="tit">SDC2018：三星发布可折叠屏幕，AR仍是关注重点</span></span></a></li>
            <li><a href="http://news.87870.com/1811/34714.html" target="_blank" title="限时活动！Viveport新用户现可免费获得《辐射4 VR（2017）》"><img src="http://pic.87870.com/upload/images/vr87870/2018/11/9/th_327x204_49c8af7c-2f5e-4c14-b406-4cdbd51b6a97.png"><span class="tit-wrap"><span class="tit">限时活动！Viveport新用户现可免费获得《辐射4 VR（2017）》</span></span></a></li>
            <li><a href="http://news.87870.com/1811/34699.html" target="_blank" title="数字王国旗下VR平台数字王国空间完成Pre-A轮融资"><img src="http://pic.87870.com/upload/images/vr87870/2018/11/8/th_327x204_d5b67e11-c799-499d-b8b5-99b1e297aca5.jpg"><span class="tit-wrap"><span class="tit">数字王国旗下VR平台数字王国空间完成Pre-A轮融资</span></span></a></li>
            <li><a href="http://news.87870.com/1811/34697.html" target="_blank" title="SDC2018：三星发布可折叠屏幕，AR仍是关注重点"><img src="http://pic.87870.com/upload/images/vr87870/2018/11/8/th_327x204_90c0dfe7-438b-42a5-9ca0-aaa05d51c76d.jpg"><span class="tit-wrap"><span class="tit">SDC2018：三星发布可折叠屏幕，AR仍是关注重点</span></span></a></li>
          </ul>
        </div>
      </div>
      <!-- 最新推荐结束 -->

      <!-- 广告2开始 -->
      <div class="part_wrapper" style="width: 98%; margin: 10px 0 10px 0;">
          <img src="{$Think.BASE_PATH}image/tmp/ad.jpg" width="280px">&nbsp;&nbsp;&nbsp;
          <img src="{$Think.BASE_PATH}image/tmp/ad.jpg" width="280px">&nbsp;&nbsp;&nbsp;
          <img src="{$Think.BASE_PATH}image/tmp/ad.jpg" width="280px">
      </div>
      <!-- 广告2结束 -->

      <!-- 北京农家院开始 -->
      <div class="part_wrapper" style="width: 420px;">
        <div class="part_title_wrapper">
          <span class="part_title">北京农家院</span>
          <span class="more"><a href="#">更多</a></span>
        </div>
        <div class="part_content" >
          <ul>
              <li><a href="/beijingnongjiale/30380/" target="_blank" title="古北口长城晓凤农家院">古北口长城晓凤农家院</a></li>
              <li><a href="/beijingnongjiale/30547/" target="_blank" title="古北水镇凤福缘农家院">古北水镇凤福缘农家院</a></li>
              <li><a href="/beijingnongjiale/35730/" target="_blank" title="挂甲峪来顺农家院">挂甲峪来顺农家院</a></li>
              <li><a href="/beijingnongjiale/41034/" target="_blank" title="北京旺海江隆农家餐厅">北京旺海江隆农家餐厅</a></li>
              <li><a href="/beijingnongjiale/41278/" target="_blank" title="箭扣长城燕来兴农家院">箭扣长城燕来兴农家院</a></li>
              <li><a href="/beijingnongjiale/40848/" target="_blank" title="古北水镇宝宪农家院">古北水镇宝宪农家院</a></li>
              <li><a href="/beijingnongjiale/29553/" target="_blank" title="百泉山秀娥农家院">百泉山秀娥农家院</a></li>
              <li><a href="/beijingnongjiale/17981/" target="_blank" title="桃源仙谷秀伶度假庄园">桃源仙谷秀伶度假庄园</a></li>
              <li><a href="/beijingnongjiale/29402/" target="_blank" title="百里画廊同乐居农家院">百里画廊同乐居农家院</a></li>
              <li><a href="/beijingnongjiale/23971/" target="_blank" title="北京大石窑度假村">北京大石窑度假村</a></li>
              <li><a href="/beijingnongjiale/33749/" target="_blank" title="房山蒲洼乡东村民之乐农家院">房山蒲洼乡东村民之乐农家院</a></li>
              <li><a href="/beijingnongjiale/38252/" target="_blank" title="石林峡如家小院">石林峡如家小院</a></li>
              <li><a href="/beijingnongjiale/38303/" target="_blank" title="爨底下四合古宅客栈9号">爨底下四合古宅客栈9号</a></li>
              <li><a href="/beijingnongjiale/29406/" target="_blank" title="十渡拒马河湾山庄">十渡拒马河湾山庄</a></li>
              <li><a href="/beijingnongjiale/40540/" target="_blank" title="黄花城水长城和美山居农家院">黄花城水长城和美山居农家院</a></li>
              <li><a href="/beijingnongjiale/40899/" target="_blank" title="喇叭沟门郑玉凤农家餐厅">喇叭沟门郑玉凤农家餐厅</a></li>
              <li><a href="/beijingnongjiale/35158/" target="_blank" title="灵山好再来农庄">灵山好再来农庄</a></li>
              <li><a href="/beijingnongjiale/35298/" target="_blank" title="黑龙潭大地农家院">黑龙潭大地农家院</a></li>
              <li><a href="/beijingnongjiale/40131/" target="_blank" title="香堂林之语农家院">香堂林之语农家院</a></li>
              <li><a href="/beijingnongjiale/41029/" target="_blank" title="喇叭沟门张树荣农家院">喇叭沟门张树荣农家院</a></li>
              <li><a href="/beijingnongjiale/41294/" target="_blank" title="爨底下隆鑫客栈">爨底下隆鑫客栈</a></li>
              <li><a href="/beijingnongjiale/38239/" target="_blank" title="九渡宝香农家院">九渡宝香农家院</a></li>
              <li><a href="/beijingnongjiale/41039/" target="_blank" title="石林峡民俗第一家(三星级)">石林峡民俗第一家(三星级)</a></li>
              <li><a href="/beijingnongjiale/35161/" target="_blank" title="玉渡山吕建峰农家院">玉渡山吕建峰农家院</a></li>
          </ul>
        </div>
      </div>
      <!-- 北京农家院结束 -->

      <!-- 河北农家院开始 -->
      <div class="part_wrapper" style="width: 420px; margin-left:20px;">
        <div class="part_title_wrapper">
          <span class="part_title">河北农家院</span>
          <span class="more"><a href="#">更多</a></span>
        </div>
        <div class="part_content" >
          <ul>
              <li><a href="/hebeinongjiale/41354/" target="_blank" title="张北中都草原农家院_中都原始草原度假村_中都草原住宿-张北苏格兰蒙古大营">张北苏格兰蒙古大营</a></li>
              <li><a href="/tianjinnongjiale/38736/" target="_blank" title="盘山农家院-盘山福临阁农家院">盘山福临阁农家院</a></li>
              <li><a href="/tianjinnongjiale/33129/" target="_blank" title="蓟县东山村农家院-东山村御云风畅农家院">东山村御云风畅农家院</a></li>
              <li><a href="/tianjinnongjiale/34872/" target="_blank" title="天津蓟县盘山农家院-蓟县盘山宜静山庄（四星级）">蓟县盘山宜静山庄（四星级）</a></li>
              <li><a href="/hebeinongjiale/40767/" target="_blank" title="北京_河北_旅游_攻略_住宿_价格_农家院_自驾游_线路-野三坡旅行者客栈">野三坡旅行者客栈</a></li>
              <li><a href="/hebeinongjiale/38785/" target="_blank" title="张北坝上草原农家院-张北草原天路醉候驿站">张北草原天路醉候驿站</a></li>
              <li><a href="/hebeinongjiale/8738/" target="_blank" title="丰宁坝上草原住宿_丰宁坝上草原自驾游_丰宁坝上草原农家院-孤石军马场高家大院">孤石军马场高家大院</a></li>
              <li><a href="/tianjinnongjiale/41051/" target="_blank" title="蓟县农家院_八仙山_景区_农家院_一日游_住宿_红叶-八仙山娇美居农家院">八仙山娇美居农家院</a></li>
              <li><a href="/tianjinnongjiale/40847/" target="_blank" title="蓟县东山村农家院_东山村农家乐-东山村静雅居农家小院">东山村静雅居农家小院</a></li>
              <li><a href="/hebeinongjiale/39216/" target="_blank" title="丰宁坝上草原住宿_丰宁坝上草原自驾游_丰宁坝上草原农家院-丰宁秀月长谷农家院">丰宁秀月长谷农家院</a></li>
              <li><a href="/tianjinnongjiale/29234/" target="_blank" title="蓟县九山顶农家院-九山顶沐野渔家">九山顶沐野渔家</a></li>
              <li><a href="/hebeinongjiale/31686/" target="_blank" title="塞罕坝自驾游_塞罕坝住宿_塞罕坝农家院-塞罕坝利民农家院">塞罕坝利民农家院</a></li>
              <li><a href="/tianjinnongjiale/40687/" target="_blank" title="九龙山国家森林公园_农家乐_住宿_旅游_攻略-蓟州溶洞东篱南山阁">蓟州溶洞东篱南山阁</a></li>
              <li><a href="/tianjinnongjiale/41225/" target="_blank" title="蓟县西井峪农家院价格_西井峪村精品民宿_西井峪村农家乐-西井峪联升居">西井峪联升居</a></li>
              <li><a href="/hebeinongjiale/36114/" target="_blank" title="雾灵山农家院-雾灵山正门醉美农家院">雾灵山正门醉美农家院</a></li>
              <li><a href="/hebeinongjiale/40611/" target="_blank" title="张北坝上草原旅游_张北坝上草原农家院_张北坝上草原自驾游_张北坝上草原住宿-张北坝上草原海阁农家院">张北坝上草原海阁农家院</a></li>
              <li><a href="/tianjinnongjiale/41295/" target="_blank" title="蓟县梨木台农家院_天津梨木台_梨木台塞北农家院-梨木台建权农家院">梨木台建权农家院</a></li>
              <li><a href="/tianjinnongjiale/38277/" target="_blank" title="蓟县农家院-蓟县东山村聚闲居精品农家院">蓟县东山村聚闲居精品农家院</a></li>
              <li><a href="/tianjinnongjiale/29518/" target="_blank" title="天津蓟县八仙山农家院-八仙山畅叙农家院">八仙山畅叙农家院</a></li>
              <li><a href="/tianjinnongjiale/39281/" target="_blank" title="蓟县于桥水库农家院-蓟县荷塘月色农家鱼馆">蓟县荷塘月色农家鱼馆</a></li>
              <li><a href="/tianjinnongjiale/40641/" target="_blank" title="蓟县梨木台农家院_天津梨木台_梨木台塞北农家院-梨木台卧佛山庄">梨木台卧佛山庄</a></li>
              <li><a href="/tianjinnongjiale/38923/" target="_blank" title="盘山农家院-盘山继明农家院">盘山继明农家院</a></li>
              <li><a href="/hebeinongjiale/38853/" target="_blank" title="丰宁坝上草原住宿_丰宁坝上草原自驾游_丰宁坝上草原农家院-丰宁坝上佳和农庄">丰宁坝上佳和农庄</a></li>
              <li><a href="/tianjinnongjiale/28842/" target="_blank" title="天津蓟县盘山农家院-蓟县盘山梨花农家院">蓟县盘山梨花农家院</a></li>
          </ul>
        </div>
      </div>
      <!-- 河北农家院结束 -->

      <!-- 自种美食开始 -->
      <!--<fieldset class="layui-elem-field layui-field-title site-title">-->
        <!--<legend><a name="grid">自种美食</a></legend>-->
      <!--</fieldset>-->
      <!--<div style="padding: 20px; background-color: #F2F2F2;">-->
        <!--<div class="layui-row layui-col-space15">-->
          <!--<div class="layui-col-md6">-->
            <!--<div class="layui-card">-->
              <!--<div class="layui-card-header">卡片面板</div>-->
              <!--<div class="layui-card-body">-->
                <!--卡片式面板面板通常用于非白色背景色的主体内<br>-->
                <!--从而映衬出边框投影<br>-->
                <!--<div class="img-block">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/1.jpg" width="115px" height="90px">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/2.jpg" width="115px" height="90px">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="90px">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="layui-col-md6">-->
            <!--<div class="layui-card">-->
              <!--<div class="layui-card-header">卡片面板</div>-->
              <!--<div class="layui-card-body">-->
                <!--结合 layui 的栅格系统<br>-->
                <!--轻松实现响应式布局<br>-->
                <!--<div class="img-block">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/1.jpg" width="115px" height="90px">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/2.jpg" width="115px" height="90px">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="90px">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="layui-col-md6">-->
            <!--<div class="layui-card">-->
              <!--<div class="layui-card-header">卡片面板</div>-->
              <!--<div class="layui-card-body">-->
                <!--卡片式面板面板通常用于非白色背景色的主体内<br>-->
                <!--从而映衬出边框投影<br>-->
                <!--<div class="img-block">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="auto">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="auto">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="auto">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="layui-col-md6">-->
            <!--<div class="layui-card">-->
              <!--<div class="layui-card-header">卡片面板</div>-->
              <!--<div class="layui-card-body">-->
                <!--结合 layui 的栅格系统<br>-->
                <!--轻松实现响应式布局<br>-->
                <!--<div class="img-block">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="auto">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="auto">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="auto">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="layui-col-md6">-->
            <!--<div class="layui-card">-->
              <!--<div class="layui-card-header">卡片面板</div>-->
              <!--<div class="layui-card-body">-->
                <!--卡片式面板面板通常用于非白色背景色的主体内<br>-->
                <!--从而映衬出边框投影<br>-->
                <!--<div class="img-block">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="auto">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="auto">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="auto">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="layui-col-md6">-->
            <!--<div class="layui-card">-->
              <!--<div class="layui-card-header">卡片面板</div>-->
              <!--<div class="layui-card-body">-->
                <!--结合 layui 的栅格系统<br>-->
                <!--轻松实现响应式布局<br>-->
                <!--<div class="img-block">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="auto">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="auto">-->
                  <!--<img src="{$Think.BASE_PATH}image/tmp/3.jpg" width="115px" height="auto">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!-- 自种美食结束 -->

    </div>
</div>


<script>
    layui.use('element', function(){
        var $ = layui.$;
        $('.top_menu').mouseover(function(){
            $('.top_menu').removeClass('active');
            $(this).addClass('active');
        })
    });
</script>
{include file="page/footer" /}
