{include file="page/header" /}
{include file="page/body_top" /}
<div style="clear: both;"></div>
<div class="body">
    <div class="body-left">
      {include file="page/menu" /}
    </div>
    <div class="page_center">
        <div class="breadcrumb1">
            {$breadcrumb}
        </div>
        <div class="page_content">
            <div class="page_content_title">
                {$info.title}
            </div>
            <div class="page_content_body">
                {$info.content}
            </div>
        </div>

    </div>

  <div style="clear: both"></div>
</div>


<script>
    layui.use(['element', 'laypage'], function(){
        var $ = layui.$;
    });
</script>
{include file="page/footer" /}
