<div class="top">
    <div class="top_wrapper">
        <div class="logo">
            <a href="{:url('/')}"><img src="{$Think.BASE_PATH}image/logo.png"></a>
        </div>
        <div class="top_menu_wrapper">
            <ul>
                <li class="top_menu active"><a href="{:url('/')}">首页</a></li>
                <li class="top_menu"><a href="{:url('/channel/id/1')}">自然景区</a></li>
                <li class="top_menu"><a href="{:url('/channel/id/2')}">农家自种</a></li>
                <li class="top_menu"><a href="{:url('/channel/id/3')}">采摘果园</a></li>
                <li class="top_menu"><a href="{:url('/channel/id/4')}">海滨沙滩</a></li>
                <li class="top_menu"><a href="{:url('/channel/id/5')}">绿色氧吧</a></li>
            </ul>
        </div>
    </div>
</div>