<div class="top">
    <div class="top_wrapper">
        <div class="logo">
            <a href="{:url('/')}"><img src="{$Think.BASE_PATH}image/logo.png"></a>
        </div>
        <div class="top_menu_wrapper">
            <ul>
                <li class="top_menu active"><a href="{:url('/')}">首页</a></li>
                <li class="top_menu"><a href="{:url('/category/id/8')}">青山绿水</a></li>
                <li class="top_menu"><a href="{:url('/category')}">自种美食</a></li>
                <li class="top_menu"><a href="{:url('/category')}">健康养生</a></li>
                <li class="top_menu"><a href="{:url('/category')}">清新氧吧</a></li>
                <li class="top_menu"><a href="{:url('/category')}">名胜古迹</a></li>
                <li class="top_menu"><a href="{:url('/category')}">地方特色</a></li>
                <li class="top_menu"><a href="{:url('/category')}">异国风情</a></li>
            </ul>
        </div>
    </div>
</div>