<div class="bd">
  <dl>
    <dt>
      <a class="" href="{:url('/category')}">风景优美</a>
    </dt>
    <dd>
      <a class="" href="{:url('/category')}">云蒙山</a>
      <a class="" href="{:url('/category')}">雁西湖</a>
      <a class="" href="{:url('/category')}" >十度</a>
      <a class="" href="{:url('/category')}" >龙门峡</a>
      <a class="" href="{:url('/category')}" >黄果树</a>
      <a class="" href="{:url('/category')}" >华山</a>
      <a class="" href="{:url('/category')}" >密云水库</a>
      <a class="" href="{:url('/category')}" >小汤山</a>
      <a class="" href="{:url('/category')}" >香山</a>
    </dd>
  </dl>
  <dl>
    <dt>
      <a class="" href="#" >农家自种</a>
    </dt>
    <dd>
      <a class="" href="#" >老玉米</a>
      <a class="" href="#" >菠菜</a>
      <a class="" href="#" >高粱</a>
      <a class="" href="#" >小白菜</a>
      <a class="" href="#" >土豆</a>
      <a class="" href="#" >黄瓜</a>
      <a class="" href="#" >苹果</a>
      <a class="" href="#" >丝瓜</a>
    </dd>
  </dl>
  <dl>
    <dt>
      <a class="" target="_blank">新鲜鱼</a>
    </dt>
    <dd>
      <a class="" target="_blank">大鲤鱼</a>
      <a class="" target="_blank">水库鱼</a>
      <a class="" target="_blank">虹鳟鱼</a>
      <a class="" target="_blank">黄花鱼</a>
      <a class="" target="_blank">梭边鱼</a>
    </dd>
  </dl>
  <dl>
    <dt>
      <a class="" href="#" target="_blank">瓜果梨桃</a>
    </dt>
    <dd>
      <a class="" href="#" target="_blank">苹果</a>
      <a class="" href="#" target="_blank">葡萄</a>
      <a class="" href="#" target="_blank">西红柿</a>
      <a class="" href="#" target="_blank">梨</a>
      <a class="" href="#" target="_blank">樱桃</a>
      <a class="" href="#" target="_blank">石榴</a>
    </dd>
  </dl>
  <dl>
    <dt>
      <a class="" href="#" >江河湖海</a>
    </dt>
    <dd>
      <a class=""  href="#" >密云水库</a>
      <a class=""  href="#" >雁西湖</a>
      <a class=""  href="#" >官厅水库</a>
      <a class=""  href="#" >北戴河</a>
      <a class=""  href="#" >鄱阳湖</a>
      <a class=""  href="#" >海口</a>
      <a class=""  href="#" >黄果树瀑布</a>
    </dd>
  </dl>
  <dl>
    <dt>
      <a class="" href="#" >赏花</a>
    </dt>
    <dd>
      <a class="" href="#" target="_blank">桃花</a>
      <a class="" href="#" target="_blank">红叶</a>
      <a class="" href="#" target="_blank">梨花</a>
      <a class="" href="#" target="_blank">牡丹/菊花</a>
      <a class="" href="#" target="_blank">银杏</a>
    </dd>
  </dl>
  <dl>
    <dt>
      <a class="" href="#" >氧吧</a>
    </dt>
    <dd>
      <a class="" href="#" target="_blank">野鸭湖湿地</a>
      <a class="" href="#" target="_blank">红螺寺</a>
      <a class="" href="#" target="_blank">野三坡</a>
      <a class="" href="#" target="_blank">坝上草原</a>
      <a class="" href="#" target="_blank">避暑山庄</a>
    </dd>
  </dl>
</div>